In [39]:
# Librerias necesarias
from google.cloud import bigquery
import json
import os
from fastapi import FastAPI
import db_dtypes
import pandas as pd

In [3]:
credentials = {
    'type': 'service_account',
    'project_id': 'nyc-taxis-project',
    'private_key_id': '83f5394cd32e9087e5a3cd3ca1ab3eedcdf3e805',
    'private_key': '-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCtgUjZmV029hyN\n2gUS68vEbKLBsktMHUlr86g4xYAXdUl1d67Cn0LQk6hpjIC7zTbm+3lZN9dUSlsP\nFn+Ld6J+SBgWDw+uqMnuOkep79nwHLgZUznfPQMmxPf6pLkj0SViszTUG1v5dTM1\naLSMo9USz9N/vSsRMmAICd2J1U9jRY3mjhaacmudtikoyo7I8RhP5d1WvTmo5/sY\nivy01OFx6NVfiBZZuQZW32ri1xnASNtCwVuSHw8PuQxiDh+Gu7eu1NmAuiTGixJ/\n9GssjVQvvmSEgFZ1qKdfYhJ9tESj6pGbzXINlK9nkuwQb/tFxY/sGGgAGKdJkjGN\n058FRkRRAgMBAAECggEAC5ZQf+241rCRgByxDY4vRc8ugGqQkkT7cAjt8VqpPwfP\nb9eeFXPO4cCWtPPT7hbapYriVAXBbOjpU2TggDctZCsa5rA7TyIJGE6OligFQT6d\nwd03xnOb6AUr/XJuRdjUGxcWPlsUZaDA2n6DXkgbtP2ppYSD4YpgdPD5uViETIAO\nvHHjhZz7sWnNluGtvDGkmt6Y6TVJUrnInDe4avzNdDWQ9MwjLeBfJF2yjqnF9ysW\nsSDkNNOvG6FuVwtPLKKJVCUZQYJhXmSnc/SU9xt9xyc22zEykrWQ32Xr1KCutbO/\nEQY/I0mEmCTnPuKi8b7MQQ6tLnTtIpipeDDJz99CdQKBgQDYzeVWXctKhClqqAg5\ndtP8WS1NOHibBAbXwQa2GOCRQvnc/MIooc5F0o9XmzdMhRxhsqvs0MkK6mx4qsTW\nKJsec1NDxd61TCpPHTy4Y9VJQhJF1jcZZBBqvQIUT3nSCKC9MYdMT2SsBU6v8hmv\nta32zANNtEDJm9rHSF0Snhf7jQKBgQDM32slt+/NCjI2+AGg00iJLh1XSoT8slr4\nNGreQ4/Mz+YzmejzjVUpFawKxwq66YvpMdIeiWzU2h8WYtTRhesF5d162NckvWv8\n4+/AfTWwFWcZnLiW9cYtOVodpVRiHnExahhH9UbgHnYL2L1lNBJkejTR72vbbOQk\nZeGWLR/Y1QKBgA9mOIb07I6jaomv272xKgd/kg8tFqv0EkRa6o4eoDzRJAxFS8k1\nDQC6nwHa/YeK4OQzm7Cbd9w1oHTFtGt9wN7d1Ck5McNw4IR0EC8MsEae0ctyFsHP\n8LaULESjDIUVpc0qanDKJt1tFxS6PobTgcLI5OctCXkIf/attiavYga1AoGBALzt\nO03pNYaL5Iq0YiwBK17127Dn04OEpkdFb1fQTge9oLftMtmGeAYPKjw2GTsMrC07\n+FyYtngDPa/TLBabvIQP2hKzbJNA6ximyi1kSeI7mnwP/lmYBE0oGmZEVHC3SgMb\np5CUK+v5qzp5gQ6W2m82EweWFoye+jRmj4WBz2CRAoGBAIBo8qkwxGFW4FghsbkQ\nNiVFcOVYfpAgJzAynYZT18thsAOdfeQlDue2JkivHphxMMZ1KG0Y++x5IwsPxtFn\nWRjH3mw7oXgvuBJw8Yj4F7N9viRkaqk786GnYovBr4JFlH92J9DThOPduOHBShXt\n5/OU0eQ2lvqP0KJ1IGhetkz3\n-----END PRIVATE KEY-----\n',
    'client_email': 'taxis-nyc-project@nyc-taxis-project.iam.gserviceaccount.com',
    'client_id': '101340537597330507674',
    'auth_uri': 'https://accounts.google.com/o/oauth2/auth',
    'token_uri': 'https://oauth2.googleapis.com/token',
    'auth_provider_x509_cert_url': 'https://www.googleapis.com/oauth2/v1/certs',
    'client_x509_cert_url': 'https://www.googleapis.com/robot/v1/metadata/x509/taxis-nyc-project%40nyc-taxis-project.iam.gserviceaccount.com',
    'universe_domain': 'googleapis.com'
 }

with open('google_credentials.json','w') as json_data:
  json.dump(credentials, json_data)

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'google_credentials.json'

In [4]:
client = bigquery.Client()

In [35]:
query = f'''
  WITH UltimoMes AS (
  SELECT
    DATE_SUB(MAX(DATE(bt.pickup_datetime)), INTERVAL 1 MONTH) AS FechaUltimoMes
  FROM `new_york_transport_project.black_taxis` bt
)

SELECT
  mz.Zone AS Zone,
  mz.LocationID AS LocationID,
  (COUNT(bt.PULocationID) + COUNT(bt.DOLocationID)) as TotalBlack
FROM `new_york_transport_project.manhattan_zones` mz
JOIN `new_york_transport_project.black_taxis` bt
ON mz.LocationID = bt.PULocationID
WHERE DATE(bt.pickup_datetime) >= (SELECT FechaUltimoMes FROM UltimoMes)
GROUP BY Zone, LocationID
ORDER BY TotalBlack DESC
LIMIT 5;

    '''

df = client.query(query).to_dataframe()
df['Ranking'] = range(1,len(df) + 1)
df = df[['Ranking','Zone','LocationID','TotalBlack']]
data = df.to_dict(orient='records')
data

[{'Ranking': 1,
  'Zone': 'East Village',
  'LocationID': 79,
  'TotalBlack': 382376},
 {'Ranking': 2,
  'Zone': 'Midtown Center',
  'LocationID': 161,
  'TotalBlack': 377802},
 {'Ranking': 3,
  'Zone': 'West Chelsea/Hudson Yards',
  'LocationID': 246,
  'TotalBlack': 362542},
 {'Ranking': 4,
  'Zone': 'TriBeCa/Civic Center',
  'LocationID': 231,
  'TotalBlack': 353456},
 {'Ranking': 5,
  'Zone': 'East Chelsea',
  'LocationID': 68,
  'TotalBlack': 343988}]

In [78]:
tabla = 'green_taxis'
abr = 'vt'
column = 'TotalGreen'

query = f'''
WITH UltimoMes AS (
  SELECT
    DATE_SUB(MAX(DATE({abr}.pickup_datetime)), INTERVAL 1 MONTH) AS MesUltimoMes
  FROM `new_york_transport_project.{tabla}` {abr}
)

SELECT
  mz.Zone AS Zone,
  mz.LocationID AS IdZone,
  (COUNT({abr}.PULocationID) + COUNT({abr}.DOLocationID)) as {column},
  EXTRACT(MONTH FROM UltimoMes.MesUltimoMes) AS month,
  EXTRACT(YEAR FROM UltimoMes.MesUltimoMes) AS year
FROM `new_york_transport_project.manhattan_zones` mz
JOIN `new_york_transport_project.{tabla}` {abr}
ON mz.LocationID = {abr}.PULocationID
JOIN UltimoMes
ON DATE({abr}.pickup_datetime) >= UltimoMes.MesUltimoMes
WHERE mz.Zone = 'Midtown Center'
GROUP BY Zone, year, month, IdZone;
'''
df1= client.query(query).to_dataframe()

tabla = 'yellow_taxis'
abr = 'yt'
column = 'TotalYellow'

query = f'''
WITH UltimoMes AS (
  SELECT
    DATE_SUB(MAX(DATE({abr}.pickup_datetime)), INTERVAL 1 MONTH) AS MesUltimoMes
  FROM `new_york_transport_project.{tabla}` {abr}
)

SELECT
  mz.Zone AS Zone,
  mz.LocationID AS IdZone,
  (COUNT({abr}.PULocationID) + COUNT({abr}.DOLocationID)) as {column},
  EXTRACT(MONTH FROM UltimoMes.MesUltimoMes) AS month,
  EXTRACT(YEAR FROM UltimoMes.MesUltimoMes) AS year
FROM `new_york_transport_project.manhattan_zones` mz
JOIN `new_york_transport_project.{tabla}` {abr}
ON mz.LocationID = {abr}.PULocationID
JOIN UltimoMes
ON DATE({abr}.pickup_datetime) >= UltimoMes.MesUltimoMes
WHERE mz.Zone = 'Midtown Center'
GROUP BY Zone, year, month, IdZone;
'''
df2= client.query(query).to_dataframe()

tabla = 'black_taxis'
abr = 'bt'
column = 'TotalBlack'

query = f'''
WITH UltimoMes AS (
  SELECT
    DATE_SUB(MAX(DATE({abr}.pickup_datetime)), INTERVAL 1 MONTH) AS MesUltimoMes
  FROM `new_york_transport_project.{tabla}` {abr}
)

SELECT
  mz.Zone AS Zone,
  mz.LocationID AS IdZone,
  (COUNT({abr}.PULocationID) + COUNT({abr}.DOLocationID)) as {column},
  EXTRACT(MONTH FROM UltimoMes.MesUltimoMes) AS month,
  EXTRACT(YEAR FROM UltimoMes.MesUltimoMes) AS year
FROM `new_york_transport_project.manhattan_zones` mz
JOIN `new_york_transport_project.{tabla}` {abr}
ON mz.LocationID = {abr}.PULocationID
JOIN UltimoMes
ON DATE({abr}.pickup_datetime) >= UltimoMes.MesUltimoMes
WHERE mz.Zone = 'Midtown Center'
GROUP BY Zone, year, month, IdZone;
'''
df3= client.query(query).to_dataframe()

tabla = 'grey_taxis'
abr = 'gt'
column = 'TotalGrey'

query = f'''
WITH UltimoMes AS (
  SELECT
    DATE_SUB(MAX(DATE({abr}.pickup_datetime)), INTERVAL 1 MONTH) AS MesUltimoMes
  FROM `new_york_transport_project.{tabla}` {abr}
)

SELECT
  mz.Zone AS Zone,
  mz.LocationID AS IdZone,
  (COUNT({abr}.PULocationID) + COUNT({abr}.DOLocationID)) as {column},
  EXTRACT(MONTH FROM UltimoMes.MesUltimoMes) AS month,
  EXTRACT(YEAR FROM UltimoMes.MesUltimoMes) AS year
FROM `new_york_transport_project.manhattan_zones` mz
JOIN `new_york_transport_project.{tabla}` {abr}
ON mz.LocationID = {abr}.PULocationID
JOIN UltimoMes
ON DATE({abr}.pickup_datetime) >= UltimoMes.MesUltimoMes
WHERE mz.Zone = 'Midtown Center'
GROUP BY Zone, year, month, IdZone;
'''
df4= client.query(query).to_dataframe()

# Realiza los merges de dos en dos.
merged_df1 = pd.merge(df1, df2, on=['Zone','IdZone','month','year'])
merged_df2 = pd.merge(df3, df4, on=['Zone','IdZone','month','year'])

# Luego, combina los resultados anteriores en uno solo.
df = pd.merge(merged_df1, merged_df2, on=['Zone','IdZone','month','year'])
df['TotalTrips'] = df.TotalGreen + df.TotalYellow + df.TotalBlack + df.TotalGrey
df = df[["Zone",'IdZone','year',"month", "TotalTrips", "TotalGreen", "TotalYellow", "TotalBlack", "TotalGrey"]]

df['%_Green'] = round((df['TotalGreen'] * 100) / df['TotalTrips'],3)
df['%_Yellow'] = round((df['TotalYellow'] * 100) / df['TotalTrips'],3)
df['%_Black'] = round((df['TotalBlack'] * 100) / df['TotalTrips'],3)
df['%_Grey'] = round((df['TotalGrey'] * 100) / df['TotalTrips'],3)

data = df.to_dict(orient='records')[0]
data

In [113]:
color = 'green_taxis'
query = f'''
WITH UltimoMes AS (
  SELECT
    DATE_SUB(MAX(DATE(bt.pickup_datetime)), INTERVAL 1 MONTH) AS FechaUltimoMes
  FROM `nyc-taxis-project.new_york_transport_project.{color}` bt
)

SELECT
  mz.Zone AS Zone,
  mz.LocationID AS IdZone,
  EXTRACT(YEAR FROM UltimoMes.FechaUltimoMes) as year,
  EXTRACT(MONTH FROM UltimoMes.FechaUltimoMes) as month,
  (COUNT(bt.PULocationID) + COUNT(bt.DOLocationID)) AS TotalTrips
FROM `nyc-taxis-project.new_york_transport_project.{color}` bt
JOIN `new_york_transport_project.manhattan_zones` mz
ON bt.PULocationID = mz.LocationID
JOIN `new_york_transport_project.manhattan_zones` mz2
ON bt.DOLocationID = mz2.LocationID
JOIN UltimoMes
ON DATE(bt.pickup_datetime) >= UltimoMes.FechaUltimoMes
GROUP BY Zone, IdZone, year, month
ORDER BY TotalTrips DESC;

'''

df = client.query(query).to_dataframe()
df['Ranking'] = range(1, len(df) + 1)
df = df[['Ranking','Zone','IdZone','year','month','TotalTrips']]
data = df.to_dict(orient='records')
data

In [115]:
hola = 'hola'
hola[:-1]

'hol'

In [118]:
data

[{'Ranking': 1,
  'Zone': 'East Harlem North',
  'IdZone': 74,
  'year': 2023,
  'month': 5,
  'TotalTrips': 26720},
 {'Ranking': 2,
  'Zone': 'East Harlem South',
  'IdZone': 75,
  'year': 2023,
  'month': 5,
  'TotalTrips': 16358},
 {'Ranking': 3,
  'Zone': 'Central Harlem',
  'IdZone': 41,
  'year': 2023,
  'month': 5,
  'TotalTrips': 6662},
 {'Ranking': 4,
  'Zone': 'Morningside Heights',
  'IdZone': 166,
  'year': 2023,
  'month': 5,
  'TotalTrips': 5760},
 {'Ranking': 5,
  'Zone': 'Central Park',
  'IdZone': 43,
  'year': 2023,
  'month': 5,
  'TotalTrips': 5390},
 {'Ranking': 6,
  'Zone': 'Washington Heights South',
  'IdZone': 244,
  'year': 2023,
  'month': 5,
  'TotalTrips': 3076},
 {'Ranking': 7,
  'Zone': 'Central Harlem North',
  'IdZone': 42,
  'year': 2023,
  'month': 5,
  'TotalTrips': 3008},
 {'Ranking': 8,
  'Zone': 'Hamilton Heights',
  'IdZone': 116,
  'year': 2023,
  'month': 5,
  'TotalTrips': 1252},
 {'Ranking': 9,
  'Zone': 'Bloomingdale',
  'IdZone': 24,
  'year': 2023,
  'month': 5,
  'TotalTrips': 1006},
 {'Ranking': 10,
  'Zone': 'Upper East Side North',
  'IdZone': 236,
  'year': 2023,
  'month': 5,
  'TotalTrips': 844},
 {'Ranking': 11,
  'Zone': 'Manhattanville',
  'IdZone': 152,
  'year': 2023,
  'month': 5,
  'TotalTrips': 794},
 {'Ranking': 12,
  'Zone': 'Washington Heights North',
  'IdZone': 243,
  'year': 2023,
  'month': 5,
  'TotalTrips': 330},
 {'Ranking': 13,
  'Zone': 'Yorkville West',
  'IdZone': 263,
  'year': 2023,
  'month': 5,
  'TotalTrips': 150},
 {'Ranking': 14,
  'Zone': 'Inwood',
  'IdZone': 127,
  'year': 2023,
  'month': 5,
  'TotalTrips': 124},
 {'Ranking': 15,
  'Zone': 'Manhattan Valley',
  'IdZone': 151,
  'year': 2023,
  'month': 5,
  'TotalTrips': 18},
 {'Ranking': 16,
  'Zone': 'Yorkville East',
  'IdZone': 262,
  'year': 2023,
  'month': 5,
  'TotalTrips': 14},
 {'Ranking': 17,
  'Zone': 'Roosevelt Island',
  'IdZone': 202,
  'year': 2023,
  'month': 5,
  'TotalTrips': 14},
 {'Ranking': 18,
  'Zone': 'Marble Hill',
  'IdZone': 153,
  'year': 2023,
  'month': 5,
  'TotalTrips': 12},
 {'Ranking': 19,
  'Zone': 'Upper West Side South',
  'IdZone': 239,
  'year': 2023,
  'month': 5,
  'TotalTrips': 8},
 {'Ranking': 20,
  'Zone': 'Highbridge Park',
  'IdZone': 120,
  'year': 2023,
  'month': 5,
  'TotalTrips': 6},
 {'Ranking': 21,
  'Zone': 'Randalls Island',
  'IdZone': 194,
  'year': 2023,
  'month': 5,
  'TotalTrips': 6},
 {'Ranking': 22,
  'Zone': 'Inwood Hill Park',
  'IdZone': 128,
  'year': 2023,
  'month': 5,
  'TotalTrips': 4},
 {'Ranking': 23,
  'Zone': 'Little Italy/NoLiTa',
  'IdZone': 144,
  'year': 2023,
  'month': 5,
  'TotalTrips': 4},
 {'Ranking': 24,
  'Zone': 'Clinton East',
  'IdZone': 48,
  'year': 2023,
  'month': 5,
  'TotalTrips': 2},
 {'Ranking': 25,
  'Zone': 'Garment District',
  'IdZone': 100,
  'year': 2023,
  'month': 5,
  'TotalTrips': 2},
 {'Ranking': 26,
  'Zone': 'Lenox Hill West',
  'IdZone': 141,
  'year': 2023,
  'month': 5,
  'TotalTrips': 2},
 {'Ranking': 27,
  'Zone': 'Lincoln Square East',
  'IdZone': 142,
  'year': 2023,
  'month': 5,
  'TotalTrips': 2},
 {'Ranking': 28,
  'Zone': 'Lincoln Square West',
  'IdZone': 143,
  'year': 2023,
  'month': 5,
  'TotalTrips': 2},
 {'Ranking': 29,
  'Zone': 'Midtown Center',
  'IdZone': 161,
  'year': 2023,
  'month': 5,
  'TotalTrips': 2},
 {'Ranking': 30,
  'Zone': 'Midtown East',
  'IdZone': 162,
  'year': 2023,
  'month': 5,
  'TotalTrips': 2},
 {'Ranking': 31,
  'Zone': 'Times Sq/Theatre District',
  'IdZone': 230,
  'year': 2023,
  'month': 5,
  'TotalTrips': 2},
 {'Ranking': 32,
  'Zone': 'TriBeCa/Civic Center',
  'IdZone': 231,
  'year': 2023,
  'month': 5,
  'TotalTrips': 2},
 {'Ranking': 33,
  'Zone': 'Two Bridges/Seward Park',
  'IdZone': 232,
  'year': 2023,
  'month': 5,
  'TotalTrips': 2},
 {'Ranking': 34,
  'Zone': 'Upper West Side North',
  'IdZone': 238,
  'year': 2023,
  'month': 5,
  'TotalTrips': 2},
 {'Ranking': 35,
  'Zone': 'West Village',
  'IdZone': 249,
  'year': 2023,
  'month': 5,
  'TotalTrips': 2}]

In [ ]:
app = FastAPI()

@app.get('/')
def home():
  return {'mensaje':'Bienvenido a la API para consultar informaci√≥n sobre los taxis de la ciudad de Nueva York.'}

@app.get('/cantidad_viajes/{categoria}')
def cantidad_taxis_fecha(categoria):

  client = bigquery.Client()
  project_name = 'nyc-taxis-project'
  dataset_name = 'new_york_transport_project'
  table_name = f'{categoria}_taxis'

  # Especifica la referencia a la tabla que deseas visualizar
  table_ref = client.dataset(dataset_name).table(table_name)
  table = client.get_table(table_ref)

  query = f"""
      SELECT COUNT(pickup_datetime)
      FROM `{project_name}.{dataset_name}.{table_name}`
      LIMIT 1;
  """

  query_job = client.query(query)
  results = query_job.result()
  for row in results:
      resultado = row[0]

  data_json = {
      'mensaje':resultado
  }

  return data_json