In [ ]:
# Librerias necesarias
from flask import Flask, jsonify
from google.cloud import bigquery
import json
import os
from fastapi import FastAPI

In [11]:
import pandas as pd

df = pd.read_csv('C:/Users/uriel/OneDrive/Escritorio/bquxjob_1e0216ad_18a6c54f5f7.csv')
df['f0_'] = df['f0_'].str.replace('(','').str.replace(')','')
df

C:\Users\uriel\AppData\Local\Temp\ipykernel_4584\1915868324.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['f0_'] = df['f0_'].str.replace('(','').str.replace(')','')

                         Zone  f0_
0               Alphabet City    4
1                Battery Park   12
2           Battery Park City   13
3                Bloomingdale   24
4              Central Harlem   41
..                        ...  ...
64  West Chelsea/Hudson Yards  246
65               West Village  249
66         World Trade Center  261
67             Yorkville East  262
68             Yorkville West  263

[69 rows x 2 columns]

In [16]:
dictt = {}
for i, e in enumerate(df['Zone']):
    dictt[e] = df['f0_'].iloc[i]

In [18]:
dictt

{'Alphabet City': '4',
 'Battery Park': '12',
 'Battery Park City': '13',
 'Bloomingdale': '24',
 'Central Harlem': '41',
 'Central Harlem North': '42',
 'Central Park': '43',
 'Chinatown': '45',
 'Clinton East': '48',
 'Clinton West': '50',
 'East Chelsea': '68',
 'East Harlem North': '74',
 'East Harlem South': '75',
 'East Village': '79',
 'Financial District North': '87',
 'Financial District South': '88',
 'Flatiron': '90',
 'Garment District': '100',
 "Governor's Island/Ellis Island/Liberty Island": '105',
 'Gramercy': '107',
 'Greenwich Village North': '113',
 'Greenwich Village South': '114',
 'Hamilton Heights': '116',
 'Highbridge Park': '120',
 'Hudson Sq': '125',
 'Inwood': '127',
 'Inwood Hill Park': '128',
 'Kips Bay': '137',
 'Lenox Hill East': '140',
 'Lenox Hill West': '141',
 'Lincoln Square East': '142',
 'Lincoln Square West': '143',
 'Little Italy/NoLiTa': '144',
 'Lower East Side': '148',
 'Manhattan Valley': '151',
 'Manhattanville': '152',
 'Marble Hill': '153',
 'Meatpacking/West Village West': '158',
 'Midtown Center': '161',
 'Midtown East': '162',
 'Midtown North': '163',
 'Midtown South': '164',
 'Morningside Heights': '166',
 'Murray Hill': '170',
 'Penn Station/Madison Sq West': '186',
 'Randalls Island': '194',
 'Roosevelt Island': '202',
 'Seaport': '209',
 'SoHo': '211',
 'Stuy Town/Peter Cooper Village': '224',
 'Sutton Place/Turtle Bay North': '229',
 'Times Sq/Theatre District': '230',
 'TriBeCa/Civic Center': '231',
 'Two Bridges/Seward Park': '232',
 'UN/Turtle Bay South': '233',
 'Union Sq': '234',
 'Upper East Side North': '236',
 'Upper East Side South': '237',
 'Upper West Side North': '238',
 'Upper West Side South': '239',
 'Washington Heights North': '243',
 'Washington Heights South': '244',
 'West Chelsea/Hudson Yards': '246',
 'West Village': '249',
 'World Trade Center': '261',
 'Yorkville East': '262',
 'Yorkville West': '263'}

In [ ]:
credentials = {
    'type': 'service_account',
    'project_id': 'nyc-taxis-project',
    'private_key_id': '83f5394cd32e9087e5a3cd3ca1ab3eedcdf3e805',
    'private_key': '-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCtgUjZmV029hyN\n2gUS68vEbKLBsktMHUlr86g4xYAXdUl1d67Cn0LQk6hpjIC7zTbm+3lZN9dUSlsP\nFn+Ld6J+SBgWDw+uqMnuOkep79nwHLgZUznfPQMmxPf6pLkj0SViszTUG1v5dTM1\naLSMo9USz9N/vSsRMmAICd2J1U9jRY3mjhaacmudtikoyo7I8RhP5d1WvTmo5/sY\nivy01OFx6NVfiBZZuQZW32ri1xnASNtCwVuSHw8PuQxiDh+Gu7eu1NmAuiTGixJ/\n9GssjVQvvmSEgFZ1qKdfYhJ9tESj6pGbzXINlK9nkuwQb/tFxY/sGGgAGKdJkjGN\n058FRkRRAgMBAAECggEAC5ZQf+241rCRgByxDY4vRc8ugGqQkkT7cAjt8VqpPwfP\nb9eeFXPO4cCWtPPT7hbapYriVAXBbOjpU2TggDctZCsa5rA7TyIJGE6OligFQT6d\nwd03xnOb6AUr/XJuRdjUGxcWPlsUZaDA2n6DXkgbtP2ppYSD4YpgdPD5uViETIAO\nvHHjhZz7sWnNluGtvDGkmt6Y6TVJUrnInDe4avzNdDWQ9MwjLeBfJF2yjqnF9ysW\nsSDkNNOvG6FuVwtPLKKJVCUZQYJhXmSnc/SU9xt9xyc22zEykrWQ32Xr1KCutbO/\nEQY/I0mEmCTnPuKi8b7MQQ6tLnTtIpipeDDJz99CdQKBgQDYzeVWXctKhClqqAg5\ndtP8WS1NOHibBAbXwQa2GOCRQvnc/MIooc5F0o9XmzdMhRxhsqvs0MkK6mx4qsTW\nKJsec1NDxd61TCpPHTy4Y9VJQhJF1jcZZBBqvQIUT3nSCKC9MYdMT2SsBU6v8hmv\nta32zANNtEDJm9rHSF0Snhf7jQKBgQDM32slt+/NCjI2+AGg00iJLh1XSoT8slr4\nNGreQ4/Mz+YzmejzjVUpFawKxwq66YvpMdIeiWzU2h8WYtTRhesF5d162NckvWv8\n4+/AfTWwFWcZnLiW9cYtOVodpVRiHnExahhH9UbgHnYL2L1lNBJkejTR72vbbOQk\nZeGWLR/Y1QKBgA9mOIb07I6jaomv272xKgd/kg8tFqv0EkRa6o4eoDzRJAxFS8k1\nDQC6nwHa/YeK4OQzm7Cbd9w1oHTFtGt9wN7d1Ck5McNw4IR0EC8MsEae0ctyFsHP\n8LaULESjDIUVpc0qanDKJt1tFxS6PobTgcLI5OctCXkIf/attiavYga1AoGBALzt\nO03pNYaL5Iq0YiwBK17127Dn04OEpkdFb1fQTge9oLftMtmGeAYPKjw2GTsMrC07\n+FyYtngDPa/TLBabvIQP2hKzbJNA6ximyi1kSeI7mnwP/lmYBE0oGmZEVHC3SgMb\np5CUK+v5qzp5gQ6W2m82EweWFoye+jRmj4WBz2CRAoGBAIBo8qkwxGFW4FghsbkQ\nNiVFcOVYfpAgJzAynYZT18thsAOdfeQlDue2JkivHphxMMZ1KG0Y++x5IwsPxtFn\nWRjH3mw7oXgvuBJw8Yj4F7N9viRkaqk786GnYovBr4JFlH92J9DThOPduOHBShXt\n5/OU0eQ2lvqP0KJ1IGhetkz3\n-----END PRIVATE KEY-----\n',
    'client_email': 'taxis-nyc-project@nyc-taxis-project.iam.gserviceaccount.com',
    'client_id': '101340537597330507674',
    'auth_uri': 'https://accounts.google.com/o/oauth2/auth',
    'token_uri': 'https://oauth2.googleapis.com/token',
    'auth_provider_x509_cert_url': 'https://www.googleapis.com/oauth2/v1/certs',
    'client_x509_cert_url': 'https://www.googleapis.com/robot/v1/metadata/x509/taxis-nyc-project%40nyc-taxis-project.iam.gserviceaccount.com',
    'universe_domain': 'googleapis.com'
 }

with open('google_credentials.json','w') as json_data:
  json.dump(credentials, json_data)

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'google_credentials.json'

In [ ]:
app = FastAPI()

@app.get('/')
def home():
  return {'mensaje':'Bienvenido a la API para consultar información sobre los taxis de la ciudad de Nueva York.'}

@app.get('/cantidad_viajes/{categoria}')
def cantidad_taxis_fecha(categoria):

  client = bigquery.Client()
  project_name = 'nyc-taxis-project'
  dataset_name = 'new_york_transport_project'
  table_name = f'{categoria}_taxis'

  # Especifica la referencia a la tabla que deseas visualizar
  table_ref = client.dataset(dataset_name).table(table_name)
  table = client.get_table(table_ref)

  query = f"""
      SELECT COUNT(pickup_datetime)
      FROM `{project_name}.{dataset_name}.{table_name}`
      LIMIT 1;
  """

  query_job = client.query(query)
  results = query_job.result()
  for row in results:
      resultado = row[0]

  data_json = {
      'mensaje':resultado
  }

  return data_json